@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    background-color: #E2E2E2;
    margin: 0px;
}

.scroll {
    width: 2000px;
    height: 260px;
}

.side-banner {
    height: 100%;
    width: 150px;
    background-color: grey;
}

.category {
    margin-top: 50px;
}

.title {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    margin-left: 0px;
}

.filter-btns {
    margin-top: 20px;
}

.filter-btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-right-width: 0px;
}

/* @import url('https://fonts.googleapis.com/css?family=Nunito'); */

.card {
    width: 320px;
    height: 167px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    display: inline-block;
    margin-right: 30px;
    margin-top: 20px;
}

.image {
    width: 320px;
    height: 89px;
}

.day {
    font-size: 16px;
    display: inline-block;
    padding-left: 21px;
    padding-top: 16px;
    padding-right: 16px;
    float: left;
}

.card-body {
    display: inline-block;
}

.img {
    margin-top: 22px;
    margin-right: 10px;
    float: left;
}

.content {
    margin-left: 18px;
    float: left;
    margin-top: 11px;
}

.event-title {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
}

.event-details {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #949EA1;
}

.event-time {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #03BFED;
}

.curr-date {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #5F5F5F;
}

.img-container {
    position: relative;
    width: 80%;
}

.export {
    position: absolute;
    top: 70px;
    left: 263px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #CFF6FF;
    color: #03BFED;
    font-size: 11px;
    padding: 4px 15px;
    border-width: 1px;
    border-color: #03BFED;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    font-family: nunito;
}

.navbar {
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0px 1px 3px #dfdfdf;
    width: 100%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    max-width: 1080px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    width: 169px;
}

.navbar-menu a {
    text-decoration: none;
    color: #707070;
}

.navbar-menu a.active {
    color: #2196f3;
}

.navbar-title a {
    color: #707070;
    text-align: center;
    font-size: 1.375em;
    font-weight: bold;
    text-decoration: none;
}

.navbar-title a:visited {
    text-decoration: none;
    color: #707070;
}

.navbar-title a:hover {
    color: rgba(44, 44, 44, 0.5)
}

.navbar-buttons {
    display: flex;
    justify-content: space-between;
    width: 104px;
}

.navbar-button-icon {
    width: 30px;
    height: 30px;
}

.magnifier {
    padding: 5px 35px;
}

.search-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid #E2E1E1;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #FFFFFF;
}

.search-box-input {
    height: 45px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTgiIGhlaWdodD0iMTgiCnZpZXdCb3g9IjAgMCA1MCA1MCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBkPSJNIDIxIDMgQyAxMS42MDE1NjMgMyA0IDEwLjYwMTU2MyA0IDIwIEMgNCAyOS4zOTg0MzggMTEuNjAxNTYzIDM3IDIxIDM3IEMgMjQuMzU1NDY5IDM3IDI3LjQ2MDkzOCAzNi4wMTU2MjUgMzAuMDkzNzUgMzQuMzQzNzUgTCA0Mi4zNzUgNDYuNjI1IEwgNDYuNjI1IDQyLjM3NSBMIDM0LjUgMzAuMjgxMjUgQyAzNi42Nzk2ODggMjcuNDIxODc1IDM4IDIzLjg3ODkwNiAzOCAyMCBDIDM4IDEwLjYwMTU2MyAzMC4zOTg0MzggMyAyMSAzIFogTSAyMSA3IEMgMjguMTk5MjE5IDcgMzQgMTIuODAwNzgxIDM0IDIwIEMgMzQgMjcuMTk5MjE5IDI4LjE5OTIxOSAzMyAyMSAzMyBDIDEzLjgwMDc4MSAzMyA4IDI3LjE5OTIxOSA4IDIwIEMgOCAxMi44MDA3ODEgMTMuODAwNzgxIDcgMjEgNyBaIj48L3BhdGg+PC9zdmc+') 37.12px 50% no-repeat;
    border: 0px solid #E2E1E1;
    box-sizing: border-box;
    font-style: italic;
    font-size: 0.875em;
    width: 100%;
    padding: 10px 0px;
    margin-left: 5px;
    margin-right: 25px;
    padding-left: 119px;
}

.inputBox {
    position: relative;
}

.search-box .search-btn {
    padding: 10px 25px;
    color: #03BFED;
    border: 1px solid #03BFED;
    box-sizing: border-box;
    border-radius: 4px;
    text-transform: uppercase;
}

::placeholder {
    color: #c9c9c9;
    padding: 8px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 55px;
}

.checkbox-container input {
    position: absolute;
    left: 0px;
    top: -12px;
    opacity: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 2;
}

.checkbox-container .checkbox-custom {
    position: absolute;
    top: -12px;
    left: 0px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #949EA1;
    z-index: 1;
}

.checkbox-container input:checked~.checkbox-custom {
    background-color: #949EA1;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid #949EA1;
}

.checkbox-real-label {
    color: #949EA1;
    font-size: 1em;
    padding-left: 37px;
}

.outer-container {
    position: relative;
    background: #5CA1FF;
    height: 291.6px;
    width: 258px;
}
.inner-white-box {
    position: absolute;
    background: #ffffff;
    top: 6px;
}

.calendar-image {
    width: 100%;
    height: 157.2px;
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.25);
}

.tag-rounded {
    background: #FFFFFF;
    border: 0.5px solid #5CA1FF;
    color: #5CA1FF;
    text-align: center;
    font-size: 0.75rem;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 2.4px 4.8px;
    margin-left: 10.8px;
}

.calendar-edited-time {
    color: #949EA1;
    font-size: 0.75rem;
    text-align: right;
}

.calendar-status {
    background: #1A95FF;
    width: 11px;
    height: 11px;
    border-radius: 6px;
}
.calendar-name {
    color: #5F5F5F;
    font-weight: bold;
    font-size: 0.875rem;
}

.calendar-tags-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;

}
.calendar-tags {
    display: flex;
    justify-content: space-around;
    margin-top: 15.4px;
    margin-bottom: 41.8px;
}
.calendar-contents {
    padding: 14px 20px;
}