@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(../fonts/Nunito-Regular.ttf) format('truetype');
}

.nav-logo {
	width: 160px;
	height: 25.62px;
}
.main-nav {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

.nav-container {
	display: flex;
	max-width: 1358px;
	justify-content: space-between;
	margin: 22px 32px;
}

.nav-left-side {
	display: flex;
	justify-content: space-between;
	max-width: 479px;
}

.nav-page-btns {
	display: flex;
	justify-content: space-evenly;
	width: 292px;
}

.nav-page-btn {
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #646464;
	text-decoration: none;
}

.nav-page-btn:visited {
	text-decoration: none;
}

.nav-right-side {
	width: 136px;
	display: flex;
	justify-content: space-evenly;
	column-gap: 55px;
}

.nav-icon {
	width: 25px;
	height: 25px;
}
