@import url('https://fonts.googleapis.com/css?family=Nunito');

.main-component{
    background-color: #E2E2E2;
    height: 2000px;
}
.scroll{
    width: 2000px;
    height:260px;
}
.side-banner{
    height:100%;
    width: 150px;
    background-color: grey;
}
.category{
    margin-top:50px;
    margin-left:222px;
}
.title{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    margin-left: 0px;
}

.button1{
    margin-left: 222px !important;
    margin-top: 100px !important;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px; 
    border-width: 1px; 
    border-right-width: 0px;
}

.button2{
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px; 
    border-width: 1px;
}
.logo{
    height: 0px; 
}

/* @import url('https://fonts.googleapis.com/css?family=Nunito'); */

.card{
    width: 320px;
    height: 167px;

    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    display: inline-block;
    margin-right: 30px; 
    margin-top: 20px; 
}

.image{
    width: 320px;
    height: 89px;
}

.day{
    font-size: 16px;
    display: inline-block;
    padding-left: 21px;
    padding-top: 16px; 
    padding-right: 16px;
    float: left;
}
.card-body{
    display: inline-block;
    
}
.img{
    margin-top: 22px;
    margin-right: 10px; 
    float: left;
}

.content{
    margin-left: 18px; 
    float: left;
    margin-top: 11px; 
}

.event-title{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
}

.event-details{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: #949EA1;
}

.event-time{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: #03BFED;
}

.curr-date{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;

    color: #5F5F5F;
}

.img-container{
    position: relative; 
    width: 80%; 
}
.export{
    position: absolute;
    top: 70px;
    left: 263px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:#CFF6FF;
    color: #03BFED;
    font-size: 11px;
    padding: 4px 15px;
    border-width: 1px; 
    border-color:  #03BFED;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold; 
    font-family: nunito;
    
}